      
      <div>
      <img src = "<%=drink[:image]%>" title= "<%= drink[:name]%>" width = "300" >
      <i><%=drink[:name]%> </i>
      <i>"<%=drink[:tags]%>"</i>
      <p><%=drink[:instruction]%>
      </div>